*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.navbar{
    position:absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;
}
.nav_nf{
    width: 125px;
    height: 100%;
}
.navbar_items{
    display: flex;
    gap: 10px;
}
.nf_logo{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.languagedropdown{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
.dropdown_container{
    border: 1px solid white;
    border-radius: 4px;
    padding: 3px;
    background: rgba(0, 0, 0, 0.4);
}
.signin_button{
    border: red;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    /* width: 30px; */
    /* height: 100px; */  
}
.hero_bg_img_container{
    width: 100%;
    height: 100vh;
}
.hero_bg_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero_bg_layer{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.hero_card{
    position: absolute;
    top: 30%;
    left: 17%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10%;
    font-family:sans-serif;

}
.hero_card h1{
    font-weight: 600;
    font-size: 3.2rem;
    
}
.hero_card h3,p{
    font-weight: 500;
    font-size: 20px;
}
.email_signup{
    width: 450px;
    height: 55px;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    /* padding: 0.25rem, 0.5rem; */  
    padding-left: 10px;  
    border-radius: 4px;
    overflow: hidden;
    /* margin-left: 2px; */
    /* border-color: white; */
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}  
.hero_card input{
    border: 1px solid gray;
    color: gray;
} 
.get_started{
    font-size: large;
    width: 170px;
    height: 55px;
    background-color: red;
    border: 1px solid red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/* --------cards------- */

.card1,.card2,.card3,.card4{
    border-top: 8px rgba(69, 69, 69);
    padding: 50px;
}
.card1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.card1_text{
    padding-left: 80px;
}
.card1 img{
    display: block;
    width: 90%;
    margin: auto;
}
.cards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
    font-family: sans-serif;
}
.cards h3{
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: sans-serif;

}
.card2{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.card2_text{
    padding-left: 80px;
}
.card2 img{
    display: block;
    width: 90%;
    margin: auto;
}
.card3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.card3_text{
    padding-left: 80px;
}
.card3 img{
    display: block;
    width: 90%;
    margin: auto;
}
.card4{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.card4_text{
    padding-left: 80px;
}
.card4 img{
    display: block;
    width: 90%;
    margin: auto;
}
/* ---------faq--------- */
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h2{
    margin-top: 30px;
    font-weight: 800;
    font-size: 50px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;

}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.faq .email_signup{
    background: white;
    margin-top: 20px;
}
.faq form{
    margin-bottom: 40px;
}
small{
    font-size: 23px;
}
 /* ---------footer------- */
 .footer,.faq,.card1,.card2,.card3,.card4{
    border-top: 6px solid #333;
 }
 .footer{
    padding: 50px 15% 10px;
    color: #777;
 }
 .footer h3{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
 }
 .footer .col{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
 }
 .footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 15px;
    margin-bottom: 10px;
 }
 .footer .row{
    align-items: flex-start;
    padding: 10px 0;
 }
 .footer .dropdown_container{
    width: 75px;
 }
.cr_txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.copyright{
    text-align: center;
    padding: 10px;
    background-color:red;
    color: white;
    text-decoration: none;
    margin-bottom: 0;
}
.copyright a{
    /* text-decoration: none; */
    color: white;
    /* background-color:aqua; */
}

/* --------responsive------- */
@media only screen and (max-width: 600px){
    .nf_logo{
       width: 100px;
    }
    .nav_items{
        padding: 5px 10px;
    }
    .hero_card h1{
        align-items: center;
        position: unset;
        transform: none;
        padding: 150px;
    }
    .cards{
        flex-basis: 100%;
        font-size: 30px;
        flex-direction: column-reverse;
        padding: 10 0;
    }
    .faq h2{
        font-size: 20;
    }
    .accordion .content{
        font-size: 20;

    }
    .accordion li label{
        padding: 10;
        font-size: 14px;
    }
    label::after{
        font-size: 22px;
    }
}
